.tablaViajes{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.tabla{
    border: 1px solid blue;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tabla p{
    width: 33.3%;
}